body {
  background: linear-gradient(to right, #d0d7eb, #252525);
}

/* GRID BLOCKS */
.header {
  grid-area: header;
  padding: 20px;
  border: 1px solid #808080;
}
.sidebar {
  grid-area: sidebar;
  /* background-color: #45aaf2; */
  /* background-color: #ece9d8; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  /* color: #000000; */
  /* padding: 5px; */
}
.events-container {
  grid-area: events-container;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.75rem;
  /* background-color: #c0c0c0; */
}
.footer {
  padding: 20px;
  grid-area: footer;
  /* background-color: #fd9644; */
}
.wrapper {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 0.5fr 3fr;
  grid-template-areas:
    "header  header"
    "sidebar events-container"
    "footer  footer";
}
@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "sidebar"
      "events-container"
      "footer";
  }
} /* END GRID BLOCKS */
